.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header{
  display: flex;
  justify-content: center;
  color: greenyellow;
  /* text-shadow: -5px 0 0 darkred; */
  background: blue;
  border-top: solid 10px green;
  border-bottom: solid 10px orange;
}